p.heading3 { font-size:12pt;
             color:#000000;
             text-decoration:none;
             font-weight:bold;
             font-family:Arial,Sans-Serif;
             text-align:left;
             font-style:normal;
             margin-top:12pt;
             margin-bottom:3pt;
             background-color:#ffffff; }

p.heading2 { font-size:14pt;
             color:#000000;
             text-decoration:none;
             font-weight:bold;
             font-family:Arial,Sans-Serif;
             text-align:left;
             font-style:normal;
             margin-top:15pt;
             margin-bottom:3pt;
             background-color:#ffffff; }

nobr { white-space:nowrap; }

p.heading1 { font-size:18pt;
             color:#000000;
             text-decoration:none;
             font-weight:bold;
             font-family:Arial,Sans-Serif;
             text-align:left;
             font-style:normal;
             margin-top:18pt;
             margin-bottom:6pt;
             background-color:#ffffff; }

ol { font-size:12pt;
     list-style-type:decimal;
     font-family:Arial,Sans-Serif;
     margin-top:6pt;
     list-style-position:outside;
     margin-bottom:10;
     margin-left:30pt; }

u { text-decoration:underline; }

p.table { font-size:12pt;
          font-family:Arial,Sans-Serif;
          margin-top:0pt;
          margin-bottom:0pt; }

s { text-decoration:line-through; }

p { font-size:12pt;
    color:#000000;
    font-family:Arial,Sans-Serif;
    margin-top:6pt; }

dd p { margin-top:0;
       margin-left:0;
       margin-bottom:0; }

p.code { font-size:12pt;
         color:#000000;
         text-decoration:none;
         font-family:Monospaced;
         font-weight:normal;
         text-align:left;
         font-style:normal;
         margin-top:6pt;
         background-color:#ffffff; }

ol li p { margin-top:0;
          margin-bottom:0; }

address { color:blue;
          font-style:italic; }

i { font-style:italic; }

p.standard_bold { font-size:12pt;
                  color:#000000;
                  text-decoration:none;
                  font-family:Arial,Sans-Serif;
                  font-weight:bold;
                  text-align:left;
                  font-style:normal;
                  background-color:#ffffff; }

h6 { font-size:xx-small;
     font-weight:bold;
     margin-top:10;
     margin-bottom:10; }

h5 { font-size:x-small;
     font-weight:bold;
     margin-top:10;
     margin-bottom:10; }

h4 { font-size:small;
     font-weight:bold;
     margin-top:10;
     margin-bottom:10; }

h3 { font-size:medium;
     font-weight:bold;
     margin-top:10;
     margin-bottom:10; }

dir li p { margin-top:0;
           margin-bottom:0; }

h2 { font-size:large;
     font-weight:bold;
     margin-top:10;
     margin-bottom:10; }

b { font-weight:bold; }

h1 { font-size:x-large;
     font-weight:bold;
     margin-top:10;
     margin-bottom:10; }

caption { caption-side:top;
          text-align:center; }

a { color:blue;
    text-decoration:underline; }

ul li ul li ul li { margin-right:0;
                    margin-top:0;
                    margin-left:0;
                    margin-bottom:0; }

p.standard { font-family:Arial,Sans-Serif;
             font-size:12pt;
             background-color:#ffffff;
             margin-top:6pt;
             color:#000000; }

menu { margin-top:10;
       margin-left:40;
       margin-bottom:10; }

menu li p { margin-top:0;
            margin-bottom:0; }

sup { vertical-align:sup; }

body { font-size:14pt;
       color:black;
       font-family:Serif;
       font-weight:normal;
       margin-right:0;
       margin-left:0; }

ul li ul li ul { list-style-type:square;
                 margin-left:25; }

blockquote { margin-right:35;
             margin-top:5;
             margin-bottom:5;
             margin-left:35; }

samp { font-size:small;
       font-family:Monospaced; }

cite { font-style:italic; }

sub { vertical-align:sub; }

em { font-style:italic; }

ul li p { margin-top:0;
          margin-bottom:0; }

ul li ul li { margin-right:0;
              margin-top:0;
              margin-left:0;
              margin-bottom:0; }

var { font-weight:bold;
      font-style:italic; }

table { width:80%;
        border-color:Gray;
        border-style:outset; }

dfn { font-style:italic; }

menu li { margin-right:0;
          margin-top:0;
          margin-left:0;
          margin-bottom:0; }

strong { font-weight:bold; }

ul { font-size:12pt;
     list-style-type:disc;
     font-family:Arial,Sans-Serif;
     margin-top:6pt;
     list-style-position:outside;
     margin-bottom:10;
     margin-left:30pt; }

center { text-align:center; }

ul li ul { list-style-type:circle;
           margin-left:25; }

kbd { font-size:small;
      font-family:Monospaced; }

dir li { margin-right:0;
         margin-top:0;
         margin-left:0;
         margin-bottom:0; }

ul li menu { list-style-type:circle;
             margin-left:25; }

dt { margin-top:0;
     margin-bottom:0; }

ol li { margin-right:0;
        margin-top:0;
        margin-left:0;
        margin-bottom:0; }

li p { margin-top:0;
       margin-bottom:0; }

strike { text-decoration:line-through; }

dl { margin-top:10;
     margin-left:0;
     margin-bottom:10; }

tt { font-family:Monospaced; }

ul li { margin-right:0;
        margin-top:0;
        margin-left:0;
        margin-bottom:0; }

dir { margin-top:10;
      margin-left:40;
      margin-bottom:10; }

tr { text-align:left; }

pre p { margin-top:0; }

dd { margin-top:0;
     margin-left:40;
     margin-bottom:0; }

li { margin-top:0; }

p.image_subtitle { font-size:12pt;
                   color:#000000;
                   text-decoration:none;
                   font-family:Arial,Sans-Serif;
                   font-weight:normal;
                   text-align:center;
                   font-style:italic;
                   margin-top:6pt;
                   background-color:#ffffff; }

th { padding-bottom:3;
     border-color:Gray;
     padding-right:3;
     font-weight:bold;
     border-style:inset;
     padding-left:3;
     text-align:center;
     padding-top:3; }

pre { font-family:Monospaced;
      margin-top:5;
      margin-bottom:5; }

td { margin-top:1pt;
     padding-left:4pt;
     text-align:left;
     padding-top:0pt;
     margin-right:1pt;
     border-right-width:0pt;
     margin-left:1pt;
     border-top-width:0pt;
     padding-right:4pt;
     border-color:Gray;
     border-bottom-width:0pt;
     border-left-width:0pt;
     background-color:#dcdcdb;
     border-style:solid;
     margin-bottom:1pt;
     vertical-align:top;
     padding-bottom:2pt; }

code { font-size:small;
       font-family:Monospaced; }

small { font-size:x-small; }

big { font-size:x-large; }

